.done {
  text-decoration: line-through;
  text-decoration-color: red;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: purple;
  text-shadow: black;
}

#userinput {
  text-align: center;
 max-width: 10rem;
  margin-left: 40%;
}

#Enter {
  max-width: 6rem;
}

li {
  list-style: none;
  text-align: center;
  justify-content: center;
}